body {
    text-align: center;
    font-family: 'Montaga', serif;
    margin: 0px;
}

h1 {
    font-family: 'Monterseratt', sans-serif;
    font-size: 3em;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    line-height: 1.5;
}

h2 {
    font-family: 'Montaga', serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Sacramento', cursive;
    color: #11999E;
}


.pro {
    text-decoration: underline;
}


.top-container {
    background-color: #e4f9F5;
    padding-top: 100px;
    position: relative;
}


.middle-container {

}

.bottom-container {

}


.top-cloud {
    position: absolute;
    right: 680px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 700px;
    bottom: 100px;
}

.img {
    border-radius: 50%;
}

.footer-link {
    color: #11999E;
}