.top-container {
    background-color: rgb(175, 96, 162);
    height: 200px;
    width: 200px;
    border: solid red;
    border-width: 0px 0px 20px 20px;
}

.middle-container {
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: azure;
    height: 200px;
    width: 200px;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0px;
}