body {
    text-align: center;
    font-family: 'Montaga', serif;
    margin: 0px;
}

h1 {
    font-family: 'Monterseratt', sans-serif;
    font-size: 3em;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    line-height: 1.5;
}

h2 {
    font-family: 'Montaga', serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montaga', serif;
    color: #11999E;
}

.pro {
    text-decoration: underline;
}


.top-container {
    background-color: #e4f9F5;
    padding-top: 100px;
    position: relative;
}


.middle-container {

}

.bottom-container {
    background-color: #e4f9F5;
    padding-top: 50px;
    position: relative;
}


.top-cloud {
    position: absolute;
    right: 680px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 700px;
    bottom: 100px;
}


.footer-link {
    color: #11999E;
    text-decoration: none;
    word-spacing: 1em;
}

.skill-row {
    width: 50%;
    margin: 100px auto 250px auto;
    text-align: left;
    line-height: 2;
}

.tennis-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 100px;
}

.dumbells-img {
    width: 25%;
    float: right;
    margin-left: 30px;

}

.my-face {
    border-radius: 50%;
    width: 270px;
    height: 350px;
    margin-top: 30px;
}

.btn {
    background-color: #66BFBF;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }