h1 {
    color: yellowgreen;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    background-color: purple;
}

p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: wheat;
}

/*** CLASS SELECTORS ***/

.brocolli {
    background-color: red;
}

.banana {
    background-color: yellow;
}

.star{
    background-color: yellow;
}

.circular {
    border-radius: 100%;
} 

/*** ID SELECTORS ***/

#heading {
    color: black;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif
}

/*** HOVER ***/

img:hover {
    color: black;
    background: gold;
}