h1 {
    color: yellowgreen;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: wheat;
}


.brocolli {
    background-color: green;
}

.banana {
    background-color: pink;
}

.star{
    background-color: blueviolet;
}